@import './styles/home.scss';

html {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.form-container {
  opacity: 0.6;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-container:hover {
  opacity: 1;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input[type='text'],
input[type='password'],
input[type='email'],
input[type='file'] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  // border-radius: 4px;
}

.register-btn,
.login-btn {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-btn:hover,
.login-btn:hover {
  background-color: #0056b3;
}

.oauth-container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
}

.oauth-btn {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.oauth-btn.google {
  background-color: #ea4335;
}

.oauth-btn:hover {
  opacity: 0.7;
}

.link-to-p {
  text-align: center;
  margin-top: 1rem;
}

.link-to-p a {
  color: #007bff;
  text-decoration: none;
}

.link-to-p a:hover {
  text-decoration: underline;
}

.home-wrapper h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-wrapper p {
  font-size: 1.125rem;
}

.home-left-container {
  background-color: #161616;
  border-radius: 15px;
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feed-wrapper {
  grid-area: feed;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 15px;
  background-color: #0c0c0c;
  padding: 1rem;
  justify-content: baseline;
  align-items: center;
}

.homeright-wrapper {
  grid-area: home-right;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: #0c0c0c;
  padding: 1rem;
}

.sidebar-item {
  color: #505050;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 1rem;
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: baseline;
}

.sidebar-item a {
  width: auto;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.sidebar-item a:hover {
  color: #727272;
  font-size: 19px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 1px;
}

.sidebar-item-container {
  width: 100%;
}

// img {
//     width: 70px;kyler1
// }

.userRec-username {
  width: 90%;
  height: 100%;
  box-sizing: border-box;
  // display: block;
  font-size: 1.5em;
  font-weight: bold;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // white-space: nowrap;

  overflow-y: auto;
  &::-webkit-scrollbar {
    height: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.userRec-wrapper {
  display: grid;
  width: 700px;
  height: 150px;
  background-color: #161616;
  margin-bottom: 1rem;
  border-radius: 15px;
  grid-template-columns: 18% 29% 16% 37%;
  grid-template-rows: calc(30% - 20px) 40px calc(70% - 20px);
  // justify-content: center;
  align-items: center;
}

.userRec-prof-pic {
  height: 100px;
  width: 100px;
  margin-left: 10px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1/4;
}

.userRec-userInfo {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: grid;
  box-sizing: border-box;
  align-self: start;
}

.ChatBoxWrapper {
  // background-color: red;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;
  // background-color: rgb(78, 14, 108);
  color: white;
  text-align: center;
  align-items: center;
  z-index: 1;
  // border: 1.2px solid #505050;
  display: none;
  border: 1.2px solid #505050;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  grid-template-columns: 250px 50px;
  grid-template-rows: 30px;
}

.ChatBoxWrapperGroupMessage {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
  overflow-y: auto;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c0c0c;
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.ChatBoxWrapperSpan {
  height: 100%;
  width: 100%;
  user-select: none;
  // background-color: rgb(0, 0, 0);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1.2px solid #505050;
  background-color: #0c0c0c;
}

.ChatBoxPopupWrapper {
  position: fixed;
  display: none;
  width: 300px;
  height: 30px;
  // background-color: #0056b3;
  right: 0;
  bottom: 0;
  border: 1.2px solid #505050;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.ChatBoxPopup {
  // display: block;
  position: absolute;
  background-color: #0c0c0c;
  // min-width: 160px;
  right: 0px;
  width: inherit;
  bottom: 60px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  border: 1.2px solid #505050;
  min-height: 350px;
  max-height: 350px;
  &::-webkit-scrollbar {
    width: 14px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.ChatBoxUserInput {
    // display: block;
    position: absolute;
    background-color: #0c0c0c;
    // min-width: 160px;
    right: 0px;
    width: inherit;
    bottom: 30px;
    // overflow-y: auto;
    // overflow-x: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: white;
    border: 1.2px solid #505050;
    min-height: 30px;
    max-height: 30px;
    display: grid;
    grid-template-columns: 250px 50px;
    grid-template-rows: 100%;
    box-sizing: border-box;
    &::-webkit-scrollbar {
      width: 14px;
    }
  
    /* Track */
    &::-webkit-scrollbar-track {
      background: #262626;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #3c3c3c;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #1b1b1b;
    }
}

.ChatBoxUserInputReal {
  background-color: rgba(0, 0, 0, 0);
  border: 0px !important;
  color: white;
  grid-column: 1;
  grid-row: 1;
  width: 99%;
  height: 100%;
  box-sizing: border-box;
  // align-self: center;
  justify-self: center;
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  &::-webkit-scrollbar {
    width: 14px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.ChatBoxUserSend {
  background-color: rgba(29, 0, 34, 0.315);
  // background-color: #0056b3;
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 5px;
}

.ChatBoxPopupButton {
  position: absolute;
  right: 0px;
  width: inherit;
  height: 30px;
  bottom: 0px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  display: block;
}

.chatBoxIndividualMessage {
  // background-color: red;
  border: 1.2px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  // height: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 30px calc(100% - 30px);
  grid-template-rows: fit-content 20px;
  margin-bottom: 5px;
  // align-items: center;
  // padding: 0px;
  // margin: 0px;
  // width: 90%;
}

.chatBoxIndividualUserPfp {
  background-color: #0056b3;
  height: fit-content;
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 30px;
  text-align: left;
  align-self: center;
  border-radius: 50%;
  // align-items: center;
  // justify-content: center;
  // width: 100%;
}

.chatBoxIndividualMessageContent {
  // background-color: #535353;
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  padding-left: 8px;
  box-sizing: border-box;
}

.chatBoxIndividualTimeStamp {
  margin-top: 5px;
  // background-color: green;
  grid-column: 1/3;
  grid-row: 2;
  font-size: 12px;
}

.userRec-favorite-game {
  grid-column: 3/5;
  grid-row: 2;
  display: grid;
  box-sizing: border-box;
  align-self: start;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  width: 94%;
  height: 103%;

  overflow-y: auto;
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.userRec-buttons {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  align-items: start;
  justify-content: start;
  grid-template-columns: 80px 10px 1fr;
  // margin-top: 40px;
}

.userRec-Button {
  width: 80px;
  grid-column: 1;
  height: 40px;
  // margin-top: 25px;
  background-color: #0c0c0c;
  border: 1.2px solid #505050;
  border-radius: 15px;
  color: #ffffff;
  //   padding: 10px 20px;s
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.userRec-Button2 {
  width: 80px;
  grid-column: 3;
  height: 40px;
  // margin-top: 25px;
  background-color: #0c0c0c;
  border: 1.2px solid #505050;
  border-radius: 15px;
  color: #ffffff;
  // padding: 10px 20px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.userRecBioWrapper {
  grid-column: 3/5;
  grid-row: 3;
  display: grid;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  grid-template-columns: 100%;
  grid-template-rows: 18px 1fr;
}

.userRec-Button:hover,
.userRec-Button2:hover {
  background-color: #161616;
  transform: scale(1.05);
}

.userRec-Button:active,
.userRec-Button2:active {
  transform: scale(0.95);
}

.userRec-rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
}

.userRecBioTag {
  grid-column: 1;
  grid-row: 1;
}

.userRec-game-rank-Container {
  display: grid;
  grid-column: 1;
  grid-row: 2;
  width: 94%;
  height: 84%;
  align-self: start;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-wrap: anywhere;
  //   overflow-wrap: break-word;
  //   background-color: #0056b3;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.userRec-gameLogo {
  height: 75px;
  width: auto;
}

.userRec-gameRank {
  height: 85px;
  width: auto;
  margin-bottom: 0;
}

.userRec-rankName {
  margin-bottom: 5px;
  margin-top: 0;
}

.homeFriendSearchAddBtn {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #505050;
  border-radius: 20px;
}

// PROFILE SCREEN
.profile-container {
  display: grid;
  grid-template-areas:
    'home-left profile-top'
    'home-left riot-account-input';
  grid-template-columns: minmax(300px, 20%) minmax(960px, 1fr);
  grid-template-rows: 282px auto;
  height: 100vh;
  gap: 10px;
  padding: 20px;
  margin-bottom: -100px;
}

.profile-username {
  box-sizing: border-box;
  width: 90%;
  overflow-y: auto;
  /* width */
  &::-webkit-scrollbar {
    height: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.riot-account-input {
  grid-area: riot-account-input;
  background-color: #0c0c0c;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}

.home-left,
.profile-top {
  background-color: #0c0c0c;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: -12rem;
}

.profile-top {
  height: 250px;
}

.valorant-rank-chart,
.league-rank-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0c0c0c;
  border-radius: 15px;
  padding: 1rem;
  margin-right: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  width: 250px;
}

.chart-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.prof-rank-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.cell-title {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.cell-value {
  font-size: 1rem;
}

.profile-top {
  display: flex;
  justify-content: center;
}

.profile-stats-container {
  display: flex;
  margin-bottom: 2rem;
}

.profile-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0c0c;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: rgb(244, 244, 244);
  // width: 100%;
}

.profile-top-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 150px minmax(160px, 1fr) 1fr 1fr;
  grid-template-rows: 100%;
}

.GamesSingle {
  width: 100%;
  // height: fit-content;
  height: 100%;
  display: grid;
  grid-template-columns: 19px 8px 1fr;
  grid-template-rows: fit-content;
  box-sizing: border-box;
  padding-top: 5px;
  padding-right: 5px;
  // margin-right: 5px;
  background-color: #2d2d2d;
}

.LanguagesSingleTrue {
  width: 100%;
  // height: fit-content;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: fit-content;
  box-sizing: border-box;
  padding-top: 5px;
  padding-right: 5px;
  // margin-right: 5px;
  color: rgb(164, 68, 208);
  background-color: #2d2d2d;
  user-select: none;
}

.LanguagesSingleFalse {
  width: 100%;
  // height: fit-content;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: fit-content;
  box-sizing: border-box;
  padding-top: 5px;
  padding-right: 5px;
  // margin-right: 5px;
  color: rgb(117, 117, 117);
  background-color: #2d2d2d;
  user-select: none;
}

.profGamesDropAvailList {
  height: fit-content;
  max-height: 300px;
  width: 100%;
  display: grid;
  overflow-y: auto;
  // padding-right: 10px;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.profLanguagesDropAvailList {
  height: fit-content;
  max-height: 300px;
  width: 100%;
  display: grid;
  overflow-y: auto;
  // padding-right: 10px;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.profLocationsDropAvailList {
  height: fit-content;
  max-height: 300px;
  width: 100%;
  display: grid;
  overflow-y: auto;
  user-select: none;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.playsGameCheck {
  margin: 0px;
  box-sizing: border-box;
  grid-column: 1;
  grid-row: 1;
  // background-color: red;
  width: 100%;
  height: 100%;
}

.gameCheck {
  box-sizing: border-box;
  grid-column: 2/4;
  grid-row: 1;
  padding-left: 8px;
  user-select: none;
}

.playsGameCheckImg {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.home-logo-ownProfile:hover {
  border: 1.2px solid #5a5a5a;
}

.home-logo {
  grid-column: 1;
  grid-row: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-sizing: border-box;
}

.pfpContainer {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 150px;
  grid-template-rows: 150px 1fr;
}

.pfpTextEdit {
  grid-column: 1;
  grid-row: 1;
  color: white;
  justify-self: center;
  align-self: center;
  width: 34px;
  height: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: none;
  pointer-events: none;
  // justif
}

.username-addBtn-messageBtn {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username-addBtn-messageBtn h1 {
  margin: 0;
  margin-bottom: 10px;
}

.profileBtn {
  margin-top: 5px;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.location-gamelogos {
  grid-column: 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 20px 40px 40px 40px 40px;
  // gap: 10px;
}

.profileTopBio {
  grid-column: 3;
  grid-row: 1;
  width: 300px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  resize: none;
  color: #b9cac2;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
}

.profileTopHomeBtn {
  grid-column: 2;
}

.profileTopLogBtn {
  grid-column: 4;
}

.profileTopNavBtns {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 10px 1fr 10px 1fr 10px;
}

.location {
  grid-column: 2/4;
  grid-row: 2;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.contactInfo {
  grid-column: 2/4;
  grid-row: 3;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.languages {
  grid-column: 2/4;
  grid-row: 4;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.languagesDropdownWrapper {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  float: right;
  position: relative;
  // display: inline-block;
}

.locationsDropdownWrapper {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  float: right;
  position: relative;
}

.profileInput {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid #ddd;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  box-sizing: border-box;
}

.game-logos {
  grid-column: 2;
  display: flex;
  justify-content: center;
}

.game-logos img {
  width: 75px;
  height: auto;
  margin: 0 10px;
}

.oauthButton {
  height: 6rem;
  width: auto;
}

.allgames {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  margin-left: 20px;
  height: 50px;
  // justify-content: end;
  align-items: end;
}

.noFocusHighlight:focus {
  outline: none;
}

// Temp fix, should actually put the games div in a wrapper for the dropdown
// This is fine as long as the user doesn't zoom in or out though
.profGamesDrop {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  max-width: 300px;
  border: 1px solid #ddd;
  z-index: 1;
  right: 55px;
}

.profGamesDrop div:hover {
  background-color: #535353;
}

.profLanguagesDrop {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  right: 0;
  z-index: 1;
}

.profLanguagesDrop div:hover {
  background-color: #535353;
}

.profLocationsDrop {
  display: none;
  // display: block;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  right: 0;
  z-index: 1;
}

.profLocationsDrop div:hover {
  background-color: #535353;
}

.gamesplayedList {
  grid-column: 2;
  grid-row: 5;
  float: right;
}

.gamesplayedListAdd {
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 75px;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #262626;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #3c3c3c;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #1b1b1b;
  }
}

.rank-data-container {
  margin-top: 20px;
}

.rank-card {
  background-color: #161616;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rank-card h5 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.rank-card p {
  font-size: 1rem;
  margin: 2px 0;
}

.rank-card span {
  font-weight: bold;
  color: #007bff;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 1rem auto;
}

// .profPos {
//   grid-column: 1;
//   grid-row: 1;
//   box-sizing: border-box;
// }

.h3Mimic {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
