@import './styles/home.scss';

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.form-container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.register-btn,
.login-btn {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-btn:hover,
.login-btn:hover {
    background-color: #0056b3;
}

.oauth-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.oauth-btn {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.oauth-btn.google {
    background-color: #ea4335;
}


.oauth-btn:hover {
    opacity: 0.7;
}

.link-to-p {
    text-align: center;
    margin-top: 1rem;
}

.link-to-p a {
    color: #007bff;
    text-decoration: none;
}

.link-to-p a:hover {
    text-decoration: underline;
}

// .home-left,
// .feed-wrapper, 
// .homeright-wrapper {
//     background-color: #555555; /* Example background color */
//     border-radius: 15px; /* Rounded corners */
//     padding: 1rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
// }

.home-wrapper h1 {
     font-size: 2rem; 
     margin-bottom: 1rem; 
}

.home-wrapper p {
    font-size: 1.125rem;
}

.home-left-container {
    background-color: #161616;
    border-radius: 15px;
    padding: 1rem;
    width: 80%; /* Ensure the container takes the full width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
    justify-content: center; /* Center align items vertically */
}

// .header-wrapper {
//     /* grid-area: header; */
//     /* width: 100%; */
//     /* display: flex; */
//     /* justify-content: center; */
//     /* align-items: center; */
//     /* background-color: #303030; */
//     /* border: 1px solid black; */
//     /* padding: 1rem; */
// }

.feed-wrapper {
    grid-area: feed;
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: #101010; /* Example background color */
    padding: 1rem;
    justify-content: baseline;
    align-items: center;
}

.homeright-wrapper {
    grid-area: home-right;
    display: flex;
    flex-direction: column;
    background-color: #101010; /* Example background color */
    padding: 1rem;
}

.sidebar-item {
    color: #505050;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 1rem;
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: baseline;
}

.sidebar-item a {
    width: auto; /* Change from 100% to auto */
    text-align: center; 
    color: inherit; 
    text-decoration: none; 
}

.sidebar-item a:hover {
    color: #727272; 
    font-size: 19px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 1px;
    
}

.sidebar-item-container {
    width: 100%; /* Ensure the container takes the full width */
}

.home-logo {
    width: 150px;
    margin-bottom: 0.5rem;
}

img {
    width: 70px;
}

.userRec-wrapper {
    display: flex;
    width: 700px;
    height: 150px;
    background-color: #161616;
    margin-bottom: 1rem;
    border-radius: 15px;
}

// .friendSearchSingleWrapper {
//     width: 50px;
//     height: 50px;
//     background-color: pink;
// }

.homeFriendSearchAddBtn {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #505050;
    border-radius: 20px;
}



// PROFILE SCREEN ----------------------------------------------------------------

.profile-container {
    display: grid;
    grid-template-areas: 
        "home-left profile-top"
        "home-left profile-stats";
        background-color: #161616;
    grid-template-columns: 20% 1fr; /* 20% for home-left, remaining space for profile sections */
    grid-template-rows: 50% 1fr; /* 50% for profile-top, remaining space for profile-stats */
    height: 100vh;
    gap: 20px; /* Add gap between grid items */
    padding: 20px; /* Add padding to the container to separate from edges */
}

.home-left,
.profile-top {
    background-color: #101010; /* Example background color */
    border-radius: 15px; /* Rounded corners */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better effect */
}

.profile-top {
    height: 250px;
}

.valorant-rank-chart,
.league-rank-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #101010;
    border-radius: 15px;
    padding: 1rem;
    margin-right: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: white;
    width: 250px;
}

.chart-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.prof-rank-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cell-title {
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.cell-value {
    font-size: 1rem;
}

.profile-top {
    display: flex;
    justify-content: center;
}

.profile-stats-container {
    display: flex;
    margin-bottom: 2rem;
}

.profile-top {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 2rem;
    background-color: #101010; /* Example background color */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better effect */
    color: white; /* Text color */
    width: 100%;
}

.profile-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.home-logo {
    width: 150px; /* Adjust image size as needed */
    height: auto;
    border-radius: 50%; /* Make image circular */
}

.username-addBtn-messageBtn {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    margin-left: 20px; /* Space between sections */
}

.username-addBtn-messageBtn h1 {
    margin: 0;
    margin-bottom: 10px; /* Space between username and buttons */
}

.profileBtn {
    margin-top: 5px; /* Space between buttons */
    padding: 0.5rem 1rem;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.location-gamelogos {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    margin-left: auto; /* Push this section to the far right */
}

.location {
    margin-bottom: 130px; /* Space between location text and logos */
}

.game-logos {
    display: flex;
    justify-content: center; /* Center logos horizontally */
}

.game-logos img {
    width: 75px; /* Adjust logo size as needed */
    height: auto;
    margin: 0 10px; /* Space between logos */
}


